<template>
    <div class="main-nav">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <router-link to="/" :exact="true" class="navbar-brand">Home</router-link>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <router-link to="/counter" class="nav-link">
                            <span class="glyphicon glyphicon-education"></span> Counter
                        </router-link>
                    </li>
                    <li class="nav-item">
                        <router-link to="/fetchdata" class="nav-link">
                            <span class="glyphicon glyphicon-th-list"></span> Fetch data
                        </router-link>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</template>