<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <EditForm Model="Coin" OnValidSubmit="HandleValidSubmit">
                    <div class="form-group">
                        <label for="coinId" class="col-form-label">Id:</label>
                        <InputText id="coinId" class="form-control" @bind-Value="Coin.Id" />
                    </div>
                    <div class="form-group">
                        <label for="inputState">Type:</label>
                        <InputSelect @bind-Value="Coin.Type"></InputSelect>
                    </div>
                    <div class="form-group">
                        <label for="coinYear" class="col-form-label">Year:</label>
                        <InputNumber id="coinYear" class="form-control" @bind-Value="Coin.Year"/>
                    </div>
                    <div class="form-group">
                        <label for="inputState">Condition:</label>
                        <select id="inputState" class="form-control">
                            <option selected>Choose...</option>
                            <option>...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="coinDescription" class="col-form-label">Description:</label>
                        <InputTextArea id="coinDescription" class="form-control" @bind-Value="Coin.Description" />
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </div>
    </div>
</div>
<p>@Test</p>

@code {
    public string Test = "NO";
    
    [Parameter]
    public CoinViewModel Coin { get; set; }

    private async void HandleValidSubmit()
    {
        Test = "YES";
    }
}
