<template>
    <v-layout row justify-center>
        <v-dialog v-model="dialog" persistent max-width="300px">
            <template v-slot:activator="{ on }">
                <v-btn flat small v-on="on">Create Collection</v-btn>
            </template>
            <v-card>
                <v-form ref="form">
                    <v-card-title>
                        <span class="headline">New Collection</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex sm12>
                                    <v-text-field label="Name*" v-model="collection.name" required v-validate="'required'" :error-messages="errors.collect('name')" data-vv-name="name"></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" :disabled="disableButtons" flat @click="clear">Close</v-btn>
                        <v-btn color="blue darken-1" :disabled="disableButtons" flat @click="submit">Create</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
        </v-dialog>
        <v-snackbar v-model="snackbar" :timeout="timeout" top>
            Collection created successfully!
            <v-btn dark flat @click="snackbar = false">Close</v-btn>
        </v-snackbar>
    </v-layout>
</template>

<script src="./collectionDialog.ts"></script>